.mat-expansion-panel{
    min-width: 250px;
}

.mat-icon.mr-20 {
    margin-right: 20px;
}

.mat-list-item.border-btm{
    border-bottom: 1px solid #eee;
}

.mat-expansion-panel-spacing{
    margin:0px;
}

#sidenav .menu-item {
    border-bottom: 1px solid #efefef;
}

mat-sidenav-content{
    padding-top: 15px;
}

.card{
    margin-bottom: 15px;
}




